body{
	font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
header{
	background-color: #40BEF9;
	height: 75px;
}
.pajaro{
	width: 100%;
  margin-top: 12px;
}
.formulario{
  margin-top: 53px;
}
textarea { 
  width: 100%;
}
.btn_personalizado{
  padding: 0;
  text-decoration: none;
  width: 80px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: #D02B55;
  border-radius: 6px;
  border: 1.5px solid #0016b0;
}
.btn_personalizado:hover{
  color: #1883ba;
  background-color: #ffffff;
}
.color{
  color: #40BEF9;
}
.tachado{
  text-decoration:line-through;
}
.espacio{
  margin: 15px;
}
/*perfil*/
.fperfil{
  background-color: #40BEF9;
  height: 75px;

}
.perfil{
  width: 135%;
  margin-top: -50%;
}
.nombre{
  font-family:'Rock Salt','Shrikhand', cursive;
  color: #D71345;
}
.celeste{
  background-color: #CBF1F5;
  background-repeat: repeat;
}
.img-rounded{
  border-radius: 30px;
}
.arroz{
  width: 45%;
  border: 5px solid #71C9CE;
  float: left;
  margin: 15px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}

.arroz:hover {
  margin-top: 2px;
}